
.icon-cancel-1:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */